langchain
langchain-openai
langchain_community
langchain_core
ipykernel
python-dotenv
openai
pypdf
beautifulsoup4
requests
arxiv
pymupdf
langchain-text-splitters
chromadb
sentence-transformers
langchain_huggingface
faiss-cpu
langchain_chroma

